* {
	font-family: cursive;
}
h1 {
	color: #ca0155;
}
#demo {}
span img {
	width: 71px;
	cursor: pointer;
    margin: 0 45px;
}
button {
	border: none;
    cursor: pointer;
    outline: none;
    padding: 7px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(45deg, #ca0155, red);
}
.row {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.title {
	padding: 5px 20px;
}
.title hr {
	border: none;
    background: #5f000024;
    height: 1px;
}
.row .col-md-8 {
	border-right: 1px solid #00000017;
    padding-right: 23px;
}
.row .col-md-4 {
	padding-left: 23px;
}